.layout__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Lista de podcasts */
.section-podcast.list-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    text-align: justify;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section-podcast.list-view header h2 {
    text-transform: uppercase;
    margin: 12px 0;
}

.section-podcast.list-view header a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
/* //Lista de podcasts */

/* Podcast individual */
.section-podcast.single-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: justify;
    padding: 0 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section-podcast .tags {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.tags ul {
    list-style: none;
    margin: 0;
    padding: 0 8px;
}

.tags ul li {
    display: inline;
    font-weight: bold;
    margin: 0 5px;
}

.section-podcast figure {
    margin: 10px 0;
}

.section-podcast figcaption {
    display: none;
}

.section-podcast .content p {
    margin: 12px 0;
}
/* //Podcast individual */

/* Responsive code */
@media screen and (max-width: 510px) {
    .list-view h2 a {
        font-size: 20px;
    }
	.section-podcast.single-view {
        margin: 20px 0;
    }
}
/* //Responsive code */