article header h1,
article header p {
    display: none;
}

.text-about {
    width: 75%;
    text-align: justify;
}

.box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 0 20px;
}

.box-title p {
    width: 100%;
    font-size: 56px;
    margin: 12px 0;
    text-align: left;
}

.layout_arrive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 680px;
    padding: 12px;
    color: #fff;
    background: url(../images/wallpaper.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.layout_mission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 680px;
    padding: 12px;
}

.layout_about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 680px;
    padding: 12px;
    color: #fff;
    background: url(../images/wallpaper.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.layout_about a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}