article header h1,
article header p {
    display: none;
}

.layout_arrive .title,
.layout_mission .title,
.layout_about .title {
    font-size: 40px;
}

.layout_arrive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #fff;
    background: url(../images/wallpaper.jpg);
}

.layout_mission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.layout_about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #fff;
    background: url(../images/wallpaper.jpg);
}

.layout_about .box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.box-title p {
    width: 50%;
    margin: 12px 0;
    text-align: left;
}

.layout_about .text-about {
    width: 80%;
}

.layout_about a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}